.container8GN {
  width: 100%;
  margin: 4rem 0;
}

.venueAd8GN {
  background: linear-gradient(
      90deg,
      rgba(32, 33, 32, 0.5),
      rgba(32, 33, 32, 0.5)
    ),
    url("../../../../public/home/Rectangle\ 124.svg") no-repeat 100% 100%;
  width: 80%;
  height: 15rem;
  border-radius: 35rem;
  margin: 0 auto;
  position: relative;
}

.venueAd8GN h4 {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  position: absolute;
  top: 20%;
  left: 5%;
}

.venueAd8GN span:first-of-type,
.venueAd8GN span:last-of-type {
  font-family: "Poppins";
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}

.venueAd8GN span:nth-of-type(2) {
  color: #d50f3e;
  font-family: "Poppins";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.venueAd8GN p {
  color: #fff;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 22.875rem;
  height: 4.8125rem;
}

.venueAd8GN + a {
  margin: 1rem auto;
  border-radius: 2.1875rem;
  background: #d50f3e;
  border: none;
  display: flex;
  width: 14.4375rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

@media screen and (max-width: 45rem) {
  .container8GN {
    width: 100%;
    margin: 0;
  }
  .venueAd8GN {
    background: linear-gradient(
        90deg,
        rgba(32, 33, 32, 0.5),
        rgba(32, 33, 32, 0.5)
      ),
      url("../../../../public/home/Rectangle\ 124.svg") no-repeat 100% 100%;
    width: 80%;
    height: 15rem;
    border-radius: 0.5rem;
  }
  .venueAd8GN h4 {
    font-size: 1rem;

    font-weight: 500;

    top: 20%;
    left: 5%;
  }
  .venueAd8GN span:first-of-type,
  .venueAd8GN span:last-of-type {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
  }
  .venueAd8GN span:nth-of-type(2) {
    font-size: 1.5rem;
  }
  .venueAd8GN p {
    width: 100%;
    height: fit-content;
  }
}
